body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Bootstrap Overrides*/

.navbar-inverse {
    background-color: #2f4f4f;
    border-color: #2f4f4f;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #274227;
}

/*Bootstrap Popover*/
.navbar-inverse .li-badge {
    position: relative;
}

    .navbar-inverse .li-badge .badge {
        position: absolute;
        top: 6px;
        right: 0;
        background-color: #FA3E3E;
    }

span.field-validation-error {
    color: red;
    font-weight: bold;
}

div#tbltodoindex_filter {
    float: right;
}

form.form-inline.pull-right {
    margin-top: 25px;
}

.update-delete-todo-td .update-delete-todo {
    display: none;
}

.update-delete-todo-td:hover .update-delete-todo {
    display: inline;
}

